$black: #333;
$white: #fff;
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
img {
  width: 100%;
}
html {
  font-size: 62.5%;
}
body,
input,
button {
  font-family: 'Nunito Sans', sans-serif;
}
// h1,h2,h3,h4,h5,h6{}
.logo {
  width: 300px;
}
